<div class = "teamBanner">

    <div class = "row gutter-0">
        <center><span class = "biggerfont">Our Sponsors</span></a></center>
    </div>

    <div class = "row gutter-0">
        <nav class="navbar navbar-inverse mynav teamNavbar">
            <div class="container">
                <div class="navbar-header">
                    <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#myTeamNavbar">
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                    </button>
                </div>
                <div class="collapse navbar-collapse" id="myTeamNavbar">
                    <ul class="nav navbar-nav pad">
                        <li class = "active"><a href="/sponsor"><span class="medfont" >about</span></a></li>
                        <li><a href="/IncrediblesSponsors"><span class="medfont" >Incredibles</span></a></li>
                        <li><a href="/ImmortalsSponsors"><span class="medfont" >Immortals</span></a></li>
                        <li><a href="/InvinciblesSponsors"><span class="medfont" >Invincibles</span></a></li>
                    </ul>
                </div>
            </div>
        </nav>
    </div>


    <div class = "row gutter-0" style = "min-height: 500px">
        <div class = "col-md-4" style = "padding: 40px 5px 10px 30px">
            <img src = "assets/images/fox.png" style="background-color:white">
        </div>
        <div class = "col-md-4" style = "padding: 40px 5px 10px 30px">
            <img src = "assets/images/asap.png" style="background-color:white" height="300px" width="400px">
        </div>
        <div class = "col-md-4" style = "padding: 40px 5px 10px 30px">
            <img src = "assets/images/scolarian.png" style="background-color:white" height="300px" width="400px">
        </div>
    </div>

</div>
