@font-face{
    font-family: 'Fira Sans';
    src: url('../assets/fonts/firasans/FiraSans-Regular.ttf');
}
@font-face{
    font-family: 'Fira Sans Light';
    src: url('../assets/fonts/firasans/FiraSans-Light.ttf');
}
@font-face{
    font-family: 'Roboto Condensed';
    src: url('../assets/fonts/roboto-condensed/RobotoCondensed-Regular.ttf');
}
@font-face{
    font-family: 'Tungsten';
    src: url('../assets/fonts/Tungsten-Medium.ttf');
}

body {
    background-color: black;
}

a:hover {
    text-decoration: none;
}

.pad {
    padding-top:10px;
}
.myfont {
    font-family: "Fira Sans", Helvetica, Arial, sans-serif;
    color: lightgray;
    font-weight: bold;
}
.bigfont {
    font-family: "Tungsten", "Fira Sans", Helvetica, Arial, sans-serif;
    color: white;
    font-size: 90px;
}

li > a > span:hover {
    color:#007BC3;
}

.frontpage1{
    height: calc(100vh - 70px);
    background-color: #2e3233;
}

.heading {
    line-height: 75px;
    position: absolute;
    left: 0px;
    bottom: 0px;
}

.headings {
    z-index: 10000;
    height: calc(100vh - 70px);
    left: 0px;
}

.aboutPage{
    min-height: 40vh;
    background-color: #1d1d1d;
    font-family: "Fira Sans";
    font-size: 20px;
    color: lightgray;
}
.teamsPage{
    min-height: 60vh;
    background-color: black;
}
.teamPageHeading {
    font-family: "Tungsten";
    font-size: 70px;
    color: white;
}
.teamPad {
    padding-top: 2%;
}
.noticePage{
    height: 60vh;
    background-color: gray;
}
.contactPage{
    min-height: 10vh;
    background-color: #1d1d1d;
}

.customFontSize {
    font-size: 20px !important;
    line-height: 20px;
}

.mynav {
    border:none;
    border-radius: 0px !important;
    height: 70px;
    padding:0px !important;
    margin: 0px !important;
}

.para {
    padding:2% 15px 15px 2%;
    font-family: "Fira Sans", "Tungsten";
    font-size: 20px;
    color: lightgray;
}

.teamPara {
    padding:2% 10px 10px 10px;
    font-family: "Fira Sans", "Tungsten";
    font-size: 23px;
    color: lightgray;
}

.fa {
    font-size: 40px;
    padding: 10px;
    color: white;
}

.fb:hover {
    color: #3C5A99;
}
.linkedin:hover{
    color: #0077B5;
}
.youtube:hover {
    color: red;
}
.mail:hover {
    color: #DD5347;
}
.insta:hover{
    color: #3C5A99;
}

.footer {
    height: 30px;
    background-color: black;
    font-family: "Roboto Condensed";
    font-size: 14px;
    color: lightgray;
}

::-webkit-scrollbar {
    width: 7px;
}

::-webkit-scrollbar-track {
    -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
    background-color: black;
}

::-webkit-scrollbar-thumb {
    background-color: gray;
    -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.5);
}

.gutter-0.row {
    margin-right: 0;
    margin-left: 0;
}
.gutter-0 > [class^="col-"]{
    padding-right: 0;
    padding-left: 0;
}

html,
body {
    height: 100%;
}

.carousel,
.item,
.active {
    height: calc(100vh - 70px);
}

.carousel-inner {
    height: 100%;
}

.fill {
    width: 100%;
    height: 100%;
    background-position: center;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    background-size: cover;
    -o-background-size: cover;
}
